/* Стили для контейнера */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 1;
    border: 2px solid #d2b48c;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form p {
    margin: 0;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.auth-form input[type="text"],
.auth-form input[type="email"],
.auth-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #C19A6B;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.auth-form input[type="text"]:focus,
.auth-form input[type="email"]:focus,
.auth-form input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 5px #C19A6B;
}

.auth-form button[type="submit"] {
    background-color: #d4a373;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.auth-form button[type="submit"]:hover {
    background-color: #cc824f;
}

.auth-link-text {
    text-align: center;
    margin-top: 15px;
    color: #333;
    font-size: 14px;
}

.auth-link-text a {
    color: #C19A6B;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-link-text a:hover {
    color: #cc824f;
}